<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="p-3 text-bg-light border-bottom mb-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/images.jpeg' %}" alt="" height="40px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首頁</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">新增文章</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜尋..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登入</button>
                <button type="button" class="btn btn-primary">註冊</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded">
    <h1>Blog 列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>