<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="p-3 text-bg-light border-bottom mb-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/images.jpeg' %}" alt="" height="40px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首頁</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">新增文章</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜尋..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登入</button>
                <button type="button" class="btn btn-primary">註冊</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded">

    <div style="max-width: 400px" class="m-auto">
        <h1>請註冊</h1>
        <form action="" method="post">
            <div class="mb-3">
                <label>帳號</label>
                <input type="text" name="username" class="form-control" placeholder="帳號">
            </div>
            <div class="mb-3">
                <label>email</label>
                <input type="email" name="email" class="form-control" placeholder="email">
            </div>
            <div class="mb-3">
                <label>驗證碼</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="驗證碼"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button">傳送驗證碼</button>
                </div>
            </div>

            <div class="mb-3">
                <label>密碼</label>
                <input type="password" name="password" class="form-control" placeholder="密碼">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary w-100">立即註冊</button>
            </div>
        </form>
    </div>


</main>
</body>
</html>