{% extends 'base.html' %}

{% block title %} BLOG 首頁 {% endblock %}

{% block main %}
    <h1>Blog 列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="#"> Django</a>
            </div>
            <div class="card-body" style="height: 100px">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div>
                    <img src="{% static 'image/django.jpeg' %}" alt="" class="rounded-circle" height="30" width="30">
                    django
                </div>
                <div>
                    發表時間：2024年8月8號 15:50
                </div>
            </div>
        </div>
    </div>
{% endblock %}